:host {
    .mat-dialog-title {
        margin: 0;
        text-transform: capitalize;
    }

    .mat-dialog-content {
        width: 200px;

        .mat-list-item {
            height: 40px;
        }
    }
}