:host {
    .mat-dialog-title {
        margin: 0;
        text-transform: capitalize;
    }

    .mat-dialog-content {
        width: 280px;

        .mat-list-item {
            height: 40px;
        }
    }

    .mat-dialog-actions {
        margin: 0px;
    }
}