<div class="card">
  <img class="myPic" src="assets/images/myPic.png">
  <div class="card-body cardBG">
    <div class="row arrowUp">
      <div class="col-2">
        <i class="fas fa-user fas-tag"></i>
      </div>
      <div class="col-10">
        <p class="card-text">Hey! I'm Srinivas.</p>
        <p class="card-text">
          I'm a Full Stack Software Engineer born and raised in India, currently living in the United States. I'm
          specialized in both Frontend and Backend Development with the great experience in JavaScript, TypeScript,
          Angular and Java Spring Boot Frameworks. With a passion for innovation and a commitment to delivering
          high-quality software, I am constantly seeking new challenges to expand my expertise and contribute
          effectively to impactful projects.
        </p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <i class="fas fa-phone fas-tag"></i>
      </div>
      <div class="col-10">
        <p class="card-text">+1 (234) 716-4429</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <i class="fas fa-envelope fas-tag"></i>
      </div>
      <div class="col-10">
        <p class="card-text emailId"><a href="mailto:msrbaipalli@gmail.com" target="_top">msrbaipalli@gmail.com</a></p>
      </div>
    </div>
    <hr class="lastHr">
    <div class="row">
      <div class="col-12 connect-icons">
        <a href="https://www.linkedin.com/in/msrbaipalli/" target="_blank"><i tooltip="LinkedIn"
            class="fab fa-linkedin-in fas-tag"></i></a>
        <a href="https://github.com/msrbaipalli" target="_blank"><i tooltip="GitHub"
            class="fab fa-github fas-tag"></i></a>
        <a href="https://medium.com/@msrbaipalli" target="_blank"><i tooltip="Medium"
            class="fab fa-medium-m fas-tag"></i></a>
        <a href="https://twitter.com/msrbaipalli" target="_blank"><i tooltip="Twitter"
            class="fab fa-twitter fas-tag"></i></a>
      </div>
    </div>
  </div>
</div>