@import 'src/app/shared/shared.scss';

.card {
      color: #F7F7F7;
      border-radius: 0px;
}

hr {
    background: none;
    margin-top: 30px;
}

.row {
    padding-bottom: 20px;
}

.col-10 {
    padding: 0;
    margin: 0;
}

.cardBG {
    background: $theme-color;
}

.myPic {
    width:100%;
}

.card-header {
    background: #878E95;
    color: #F7F7F7;
}

.innerCard {
    box-shadow: none;
}

.connect-icons {
    display: flex;
    justify-content: center;
}

.connect-icons a {
    padding-right: 20px;
}

.fas-tag {
    font-size: 25px;
    color: #F7F7F7;
}

.card-title {
    font-size: 32px;
    color: #6E757C;
    padding-bottom: 15px;
}

.skillsIcon p {
    color: #6FA3D4;
    font-size: 50px;
    display: inline-block;
    margin-right: 20px;
}

.emailId a {
    color: #F7F7F7;
    line-height: 1.5em;
}

.emailId a:hover {
    color: #F7F7F7;
    text-decoration: none;
}

.lastHr {
    margin-top: 10px !important;
    margin-bottom: 20px;
}

.card-text {
    padding-right: 5px;
}