<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <i class="fas fa-graduation-cap fas-tag"></i>
            </div>
            <div class="col-sm-11">
                <h5 class=" card-title">Education</h5>
                <div class="innerCard">
                    <div class="marginBottom">
                        <h5><strong>Master of Science</strong></h5> <strong>@Kent State University</strong>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> Major: </strong>Computer and Information Sciences
                        </p>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> GPA: </strong>3.7/4.0
                        </p>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> Significant Courses: </strong>Algorithm and
                            Programming with Data Structures, Enterprise Architecture, Database Management Systems,
                            Application & Technology Architecture, Requirements & Engineering, and VB Programming.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="innerCard">
                    <div class="marginBottom">
                        <h5><strong>Bachelor of Technology</strong></h5> <strong>@Jawaharlal Nehru Technology
                        University</strong>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> Major: </strong>Computer Science and Engineering
                        </p>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> GPA: </strong>3.2/4.0
                        </p>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> Significant Courses: </strong>Computer
                            Programming
                            &amp; Data Structures, Data Communications &amp; Computer Networks, Data Structure
                            through C++, Data Warehouse &amp; Data Mining, Database Management Systems, Object
                            Oriented Analysis &amp; Design, Design Patterns, Design &amp; Analysis of Algorithms and
                            Formal Languages &amp; Automata Theory.
                        </p>
                    </div>
                </div>
                <!--<button type="button" class="btn btn-outline-secondary btn-sm">Learn More!</button>-->
            </div>
        </div>
    </div>
</div>