.card {
      color: #6E757C;
      margin-bottom: 25px;
      border-radius: 0px;
}

.card-header {
    background: #878E95;
    color: #F7F7F7;
}

.marginBottom {
    margin-bottom: 10px;
}

.innerCard {
    box-shadow: none;
}

.fas-tag {
    font-size: 45px;
    color: #6E757C;
    padding: 10px;
}

.card-title {
    font-size: 32px;
    color: #6E757C;
    padding-bottom: 15px;
}

hr {
    margin: 30px 0px;
    padding: .1px 0;
    background: #6F757B;
}

.bulletPoints {
    padding: 10px 40px;
}