<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <i class="fas fa-briefcase fas-tag"></i>
            </div>
            <div class="col-sm-11">
                <h5 class="card-title">Work Experience</h5>
                <div class="innerCard" *ngFor="let workExperience of workExperiences">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="work-card-header-image"
                                [ngStyle]="{'background-image': workExperience.companyIcon}">
                            </div>
                            <mat-card-title> {{ workExperience.role }} </mat-card-title>
                            <mat-card-subtitle>
                                <div class="companyTitle" (click)="onCompanyTitleClick(workExperience.companyUrl)">
                                    {{ workExperience.company }}
                                </div>
                                <div class="companyDate">
                                    {{ getClientDate(workExperience) }}
                                </div>
                            </mat-card-subtitle>
                            <mat-card-subtitle>{{ workExperience.location }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-card class="client-card" *ngFor="let client of workExperience.clients">
                                <mat-card-header class="client-header">
                                    <mat-card-subtitle> CLIENT </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header>
                                    <div mat-card-avatar class="work-card-header-image"
                                        [ngStyle]="{'background-image': client.companyIcon}">
                                    </div>
                                    <mat-card-title class="companyTitle"
                                        (click)="onCompanyTitleClick(client.companyUrl)">
                                        {{ client.company }} </mat-card-title>
                                    <mat-card-subtitle> {{ getClientDate(client) }}
                                    </mat-card-subtitle>
                                    <mat-card-subtitle>{{ client.location }}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p><span>Project</span>: {{ client.project }}</p>
                                    <p><span>Role</span>: {{ client.role }}</p>
                                </mat-card-content>
                            </mat-card>
                            <!-- <p *ngIf="workExperience.project"><span>Project</span>: {{ workExperience.project }} </p> -->
                            <p><span>Description</span>: {{ workExperience.companyDescription }} </p>
                            <p><span>Environment</span>: {{ workExperience.environment }} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>