.card {
      color: #6E757C;
      margin-bottom: 25px;
      border-radius: 0px;

      .card-title {
        color: #3C4647;
        font-size: 32px;
        padding-bottom: 15px;
      }
}

.card-header {
    background: #878E95;
    color: #F7F7F7;
}

.innerCard {
    box-shadow: none;
}

.fas-tag {
    font-size: 45px;
    color: #3C4647;
    padding: 10px;
}