.card {
      color: #6E757C;
      margin-bottom: 25px;
      border-radius: 0px;
}

.card-header {
    background: #878E95;
    color: #F7F7F7;
}

.innerCard {
    box-shadow: none;
}

.fas-tag {
    font-size: 45px;
    color: #6E757C;
    padding: 10px;
}

.card-title {
    font-size: 32px;
    color: #6E757C;
    padding-bottom: 15px;
}