<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <i class="fas fa-briefcase fas-tag"></i>
            </div>
            <div class="col-sm-11">
                <h5 class="card-title">Work Experience</h5>
                <div class="innerCard">
                    <div class="marginBottom">
                        <h5><strong>Frontend Angular Developer</strong></h5> <strong>@Egen Solutions</strong>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> Description: </strong>Egen Solutions
                            is an
                            enterprise
                            web and mobile application development firm dedicated to build better user experiences
                            at
                            the for front of design. Egen also has an IT Talent Acquisition division and places
                            highly
                            skilled tech professionals in companies across the US.
                        </p>
                    </div>
                    <div class="marginBottom">
                        <strong><i class="fas fa-caret-right"></i> Responsibilities:</strong>
                    </div>
                    <div class="bulletPoints">
                        <ul>
                            <li>Involved in various phases of Software Development Life Cycle (SDLC) as requirement
                                gathering, data modeling, analysis, architecture design & development for the project in
                                an Agile/Scrum Environment.
                            </li>
                            <li>Involved in designing use cases with the help of business analyst team and developed
                                technical requirement documents.
                            </li>
                            <li>Design develop and test HTML5, CSS3, Bootstrap, JavaScript, jQuery and Angular 1.6 that
                                meets accessibility and web browser standards.
                            </li>
                            <li>Designed single page applications with rich user interface using HTML5, CSS3, Bootstrap,
                                JavaScript, Angular 1.4/1.6.
                            </li>
                            <li>Wrote Angular Unit Tests and created various Components, Custom Directives, Pipes,
                                Template syntax and Routing.
                            </li>
                        </ul>
                    </div>
                    <p>
                        <strong><i class="fas fa-caret-right"></i> Environment: </strong>HTML5, CSS3, JavaScript,
                        AngularJS 1.6, Ngx Bootstrap, AJAX, JSON, SASS, LESS, Node, npm, Agile, Jenkins, Genesis,
                        Visual Studio Code, IntelliJ, Postman, Source Tree, GIT, TFS.
                    </p>
                </div>
                <hr>
                <div class="innerCard">
                    <div class="marginBottom">
                        <h5><strong>Application Developer</strong></h5> <strong>@Kent State University</strong>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> Description: </strong>Kent State University is a
                            large, primary residential, public research university in Kent, Ohio. It has serval
                            IT divisions which services on software solutions to the Organization.
                        </p>
                    </div>
                    <div class="marginBottom">
                        <strong><i class="fas fa-caret-right"></i> Responsibilities:</strong>
                    </div>
                    <div class="bulletPoints">
                        <ul>
                            <li>Involved in various phases of Software Development Life Cycle (SDLC) as requirement
                                gathering, data modeling, analysis, architecture design & development for the project in
                                an Agile/Scrum Environment.
                            </li>
                            <li>Involved in designing use cases with the help of business analyst team and developed
                                technical requirement documents.
                            </li>
                            <li>Design develop and test HTML5, CSS3, Bootstrap, JavaScript, jQuery and Angular 1.6 that
                                meets accessibility and web browser standards.
                            </li>
                            <li>Designed single page applications with rich user interface using HTML5, CSS3, Bootstrap,
                                JavaScript, Angular 1.4/1.6.
                            </li>
                            <li>Wrote Angular Unit Tests and created various Components, Custom Directives, Pipes,
                                Template syntax and Routing.
                            </li>
                        </ul>
                    </div>
                    <p>
                        <strong><i class="fas fa-caret-right"></i> Environment: </strong>Angular 2, Type Script,
                        HTML4/5,
                        CSS3/2, C#, ASP/ADO.NET 4.0, Bootstrap3, JavaScript, Responsive Web Design, AJAX, JSON, MS
                        SQL Server 2008, Visual Studio 2017 and GitLab.
                    </p>
                </div>
                <hr>
                <div class="innerCard">
                    <div class="marginBottom">
                        <h5><strong>Frontend Developer</strong></h5> <strong>@Insas Technologies</strong>
                    </div>
                    <div class="marginBottom">
                        <p>
                            <strong><i class="fas fa-caret-right"></i> Description: </strong>Insas Technologies is one
                            of the well-known start-up company focused on implementing large-scale IT projects for
                            Retail and Education industry.
                        </p>
                    </div>
                    <div class="marginBottom">
                        <strong><i class="fas fa-caret-right"></i> Responsibilities:</strong>
                    </div>
                    <div class="bulletPoints">
                        <ul>
                            <li>Involved in various phases of Software Development Life Cycle (SDLC) as requirement
                                gathering, data modeling, analysis, architecture design & development for the project in
                                an Agile/Scrum Environment.
                            </li>
                            <li>Involved in designing use cases with the help of business analyst team and developed
                                technical requirement documents.
                            </li>
                            <li>Design develop and test HTML5, CSS3, Bootstrap, JavaScript, jQuery and Angular 1.6 that
                                meets accessibility and web browser standards.
                            </li>
                            <li>Designed single page applications with rich user interface using HTML5, CSS3, Bootstrap,
                                JavaScript, Angular 1.4/1.6.
                            </li>
                            <li>Wrote Angular Unit Tests and created various Components, Custom Directives, Pipes,
                                Template syntax and Routing.
                            </li>
                        </ul>
                    </div>
                    <p>
                        <strong><i class="fas fa-caret-right"></i> Environment: </strong>HTML, CSS, AJAX, DHTML, JSON,
                        HTML5, XML, DOM, Data visualization, JavaScript, MS Excel, jQuery, Bootstrap, AngularJS,
                        Jasmine.
                    </p>
                </div>
                <!--<button type="button" class="btn btn-outline-secondary btn-sm">Learn More!</button>-->
            </div>
        </div>
    </div>
</div>