@import 'src/app/shared/shared.scss';

.search-not-found-container {
    font-weight: 400;

    .fa-exclamation-circle {
        color: $dark-red;
    }

    mat-chip-list span {
        font-size: 14px;
    }

    mat-chip {
        cursor: pointer;
        font-size: 12px;
        color: #fff;
        background-color: $theme-color;
    }
}