<div class="card">
  <img class="myPic" src="assets/images/myPic.png">
  <div class="card-body cardBG">
    <div class="row arrowUp">
      <div class="col-2">
        <i class="fas fa-user fas-tag"></i>
      </div>
      <div class="col-10">
        <p class="card-text">Hello there!</p>
        <p class="card-text">I'm Manga | Srinivas, Frontend Developer from India and currently living in the United States.
          I write JavaScript code most of the time and explore new Frontend frameworks.</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <i class="fas fa-phone fas-tag"></i>
      </div>
      <div class="col-10">
        <p class="card-text">+1 (234) 716-4429</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <i class="fas fa-envelope fas-tag"></i>
      </div>
      <div class="col-10">
        <p class="card-text emailId"><a href="mailto:msrbaipalli@gmail.com" target="_top">msrbaipalli@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>