<div class="introMain">
  <div class="title">
    <p class="inline">&#60;&#47;&#62; MSRB</p>
  </div>
  <div class="name">
    <p>Manga Srinivas Rao Baipalli.</p>
  </div>
  <div class="tagLine">
    <p>I'm a Frontend developer and I write JavaScript code for fun.</p>
  </div>
  <div class="emailId">
    <p>manga.baipalli@gmail.com</p>
  </div>
  <div class="searchMore">
    <p>SEARCH TO KNOW MORE!</p>
  </div>
  <div class="socialIcons">
    <p><a href="https://www.linkedin.com/in/bmsrinivasrao/" target="_blank"><i class="fab fa-linkedin-in"></i></a></p>
    <p><a href="https://github.com/bmsrinivasrao" target="_blank"><i class="fab fa-github"></i></a></p>
    <p><a href="https://medium.com/@msrb" target="_blank"><i class="fab fa-medium-m"></i></a></p>
    <p><a href="https://www.facebook.com/bmsrinivasrao" target="_blank"><i class="fab fa-facebook-f"></i></a></p>
    <p><a href="https://twitter.com/bmsrinivasrao" target="_blank"><i class="fab fa-twitter"></i></a></p>
  </div>
</div>
