<div class="introMain">
    <div class="title">
        <p class="inline">&#60;&#47;&#62; MSRB</p>
    </div>
    <div class="name">
        <p>Manga Srinivas Rao Baipalli.</p>
    </div>
    <div class="tagLine">
        <p>I'm a Frontend Developer working towards a goal of becoming Full Stack Developer!</p>
    </div>
    <div class="emailId">
        <a href="mailto:msrbaipalli@gmail.com" target="_top">msrbaipalli@gmail.com</a>
    </div>
    <div class="searchMore">
        <a (click)="openModal(longStoryShort)" class="lss">Long Story Short!</a>
        <p>Search to know more and follow me anywhere!</p>
        <ng-template #longStoryShort>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Long Story Short</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-long-story-short></app-long-story-short>
            </div>
        </ng-template>
    </div>
    <div class="socialIcons">
        <p><a href="https://www.linkedin.com/in/msrbaipalli/" target="_blank"><i tooltip="LinkedIn"
                    class="fab fa-linkedin-in"></i></a></p>
        <p><a href="https://github.com/msrbaipalli" target="_blank"><i tooltip="GitHub" class="fab fa-github"></i></a>
        </p>
        <p><a href="https://medium.com/@msrbaipalli" target="_blank"><i tooltip="Medium"
                    class="fab fa-medium-m"></i></a></p>
        <p><a href="https://twitter.com/msrbaipalli" target="_blank"><i tooltip="Twitter"
                    class="fab fa-twitter"></i></a></p>
    </div>
</div>