<div class="searchMe">
    <!-- Actual search box -->
    <div class="form-group input-group-prepend searchMe-div" dropdown>
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text"
               (focusout) = "searchFocus = false"
               (keydown)="search(searchItem)"
               [(ngModel)]="searchItem"
               class="form-control"
               placeholder="Search Me!">
        <div class="input-group-append">
            <button (click)="openModal(longStoryShort)"
                    dropdownToggle
                    class="btn btn-outline-secondary searchButton"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ria-expanded="false"><i class="fas fa-history"></i> Long Story Short
            </button>
            <ng-template #longStoryShort>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Long Story Short</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-long-story-short></app-long-story-short>
                </div>
            </ng-template>
        </div>
    </div>

    <div *ngIf="searchFocus" class="form-group searchMeResult-div">
        <div *ngFor="let item of items">
            <p class="searchItem" (click)="openModal(template, item.title)">
                {{item.title}}
            </p>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{item.title}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-about *ngIf="item.title == 'About Me!'"></app-about>
                </div>
            </ng-template>
        </div>
        <div *ngIf="items?.length < 1">
            <p class="searchItem">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Search function is under construction!
            </p>
        </div>
    </div>
</div>

