<div class="searchMe">
    <!-- Actual search box -->
    <div class="form-group input-group-prepend searchMe-div" dropdown>
        <span class="fa fa-search form-control-feedback"></span>
        <input
                type="text"
                (focusout)="searchFocus = false"
                (keydown)="search(searchItem)"
                [(ngModel)]="searchItem"
                class="form-control"
                placeholder="Search Me!">
        <div class="input-group-append">
            <button (focusout)="searchFocus = false" (click)="searchButton()" dropdownToggle
                    class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Easy Access
            </button>
        </div>
    </div>

    <div *ngIf="searchFocus" class="form-group searchMeResult-div">
        <div *ngFor="let item of items">
            <p class="searchItem" (click)="openModal(template)">
                {{item}}
            </p>
        </div>
        <div *ngIf="items?.length < 1">
            <p class="searchItem">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                No results found!
            </p>
        </div>
    </div>
</div>

<!--<p class="searchItem" (click)="openModal(template)"> dsgvfsgfd </p>-->

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p *ngFor="let item of items">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
            delectus
            enim
            esse excepturi, impedit,
            iste magnam officia optio, quam quis quisquam saepe sint unde velit vitae! Animi in iusto
            ut?</p>
    </div>
</ng-template>
