<div class="searchMe">
    <div class="form-group input-group-prepend searchMe-div" dropdown>
        <span class="fa fa-search form-control-feedback input-group-append" *ngIf="!hasSearchValue()"></span>
        <button class="fa fa-times-circle search-clear-btn input-group-append" *ngIf="hasSearchValue()"
            (click)="onSearchClear()"></button>
        <input type="text" (focusout)="onSearchFocusout()" [(ngModel)]="searchValue" class="form-control"
            placeholder="Search Me!">
        <div class="input-group-append">
            <button (click)="openModal(longStoryShort)" dropdownToggle class="btn btn-outline-secondary searchButton"
                type="button" data-toggle="dropdown" aria-haspopup="true" ria-expanded="false"><i
                    class="fas fa-history"></i> Long Story Short
            </button>
            <ng-template #longStoryShort>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Long Story Short</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-long-story-short></app-long-story-short>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="form-group searchMeResult-div">
        <div class="searchItem" *ngIf="hasSearchValue()">
            <search-not-found *ngIf="!hasResults()" [searchMeComponent]="this"></search-not-found>
            <app-about *ngIf="hasSearchMatch('about')"></app-about>
            <app-work *ngIf="hasSearchMatch('work')"></app-work>
            <app-education *ngIf="hasSearchMatch('education')"></app-education>
            <app-skills *ngIf="hasSearchMatch('skills')"></app-skills>
            <app-certificates *ngIf="hasSearchMatch('certificates')"></app-certificates>
            <app-interests *ngIf="hasSearchMatch('interests')"></app-interests>
        </div>
    </div>
</div>