<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <i class="fas fa-graduation-cap fas-tag"></i>
            </div>
            <div class="col-sm-11">
                <h5 class=" card-title">Education</h5>
                <div class="innerCard" *ngFor="let education of educationList">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="card-header-image"
                                [ngStyle]="{'background-image': education.universityIcon}">
                            </div>
                            <mat-card-title> {{ education.course }} </mat-card-title>
                            <mat-card-subtitle>
                                <div class="universityTitle" (click)="onCompanyTitleClick(education.universityUrl)">
                                    {{ education.university }}
                                </div>
                                <div> {{ getClientDate(education) }} </div>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p><span>Major</span>: {{ education.major }} </p>
                            <p><span>GPA</span>: {{ education.gpa }} </p>
                            <p><span>Significant Courses</span>: {{ education.significantCourses }} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>