<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-1">
        <i class="fas fa-certificate fas-tag"></i>
      </div>
      <div class="col-sm-11">
        <h5 class=" card-title">Certifications</h5>
        <div class="innerCard">
          <div class="marginBottom certificate-container">
            <mat-card class="certificate-card" *ngFor="let certificate of certificateList">
              <mat-card-header>
                <div mat-card-avatar class="certificate-card-header-image"
                  [ngStyle]="{'background-image': certificate.iconUrl}">
                </div>
                <mat-card-title>{{ certificate.title }}</mat-card-title>
                <mat-card-subtitle>{{ certificate.provider }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
              </mat-card-content>
              <mat-card-actions>
                <button (click)="onViewCertificateClick(certificate.certificateUrl)" class="certificate-button"
                  mat-flat-button>View Certificate</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>