<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-1">
        <i class="fas fa-drafting-compass fas-tag"></i>
      </div>
      <div class="col-sm-11">
        <h5 class=" card-title">Skills</h5>
        <p class="card-text">PROGRAMMING LANGUAGES</p>
        <div class="skillsIcon">
          <p><i tooltip="HTML5" class="fab fa-html5"></i></p>
          <p><i tooltip="CSS3" class="fab fa-css3-alt"></i></p>
          <p><i tooltip="SASS" class="fab fa-sass"></i></p>
          <p><i tooltip="LESS" class="fab fa-less"></i></p>
          <p><i tooltip="Angular" class="fab fa-angular"></i></p>
          <p><i tooltip="JavaScript" class="fab fa-js"></i></p>
          <p><i tooltip="NodeJs" class="fab fa-node-js"></i></p>
          <p><i tooltip="Java" class="fab fa-java"></i></p>
          <p><i tooltip="Dot Net" class="fab fa-microsoft"></i></p>
        </div>

        <p class="card-text">TOOLS</p>
        <div class="skillsIcon">
          <p><i tooltip="npm" class="fab fa-npm"></i></p>
          <p><i tooltip="Grunt" class="fab fa-grunt"></i></p>
          <p><i tooltip="Git" class="fab fa-git"></i></p>
          <p><i tooltip="GitLab" class="fab fa-gitlab"></i></p>
          <p><i tooltip="GitHub" class="fab fa-github"></i></p>
          <p><i tooltip="Jenkins" class="fab fa-jenkins"></i></p>
        </div>
        <!--<button type="button" class="btn btn-outline-secondary btn-sm">Learn More!</button>-->
      </div>
    </div>
  </div>
</div>