<div class="main-container">
    <div class="input-group">
        <input (keyup.enter)="addPlayer()" type="text" class="form-control" placeholder="Enter Player Name!"
            [(ngModel)]="playerName">
        <button class="add-button" color="primary" mat-raised-button (click)="addPlayer()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th (click)="onTotalHeaderClick()">Score
                    <i class="fa"
                        [ngClass]="{'fa-angle-down': totalHeaderArrowDown, 'fa-angle-up': !totalHeaderArrowDown}"></i>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players; index as playerIndex">
                <td class="player-name">
                    <button mat-stroked-button color="primary" [ngClass]="{'rankOnePlayer' : isRankOnePlayer(player)}"
                        (click)="onPlayerClick(player)">{{ player.name }}</button>
                </td>
                <td class="player-total-score">
                    <button mat-stroked-button color="primary"
                        (click)="openScoresDialog(player)">{{ getPlayerTotalScore(player) }}</button>
                </td>
                <td class="player-score-input">
                    <div class="input-group">
                        <input type="number" class="form-control" [(ngModel)]="scoreInputs[player.name]"
                            placeholder="Enter Score!">
                    </div>
                </td>
                <td>
                    <button mat-icon-button color="warn" (click)="removePlayer(player)">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <div class="action-buttons">
        <button [disabled]="players.length === 0" color="warn" mat-raised-button (click)="resetScores()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Scores
        </button>
        <button [disabled]="players.length === 0" color="primary" class="add-score-btn" mat-raised-button
            (click)="addScore()">
            <i class="fa fa-plus" aria-hidden="true"></i> Score
        </button>
        <button [disabled]="players.length === 0" class="reset-players" color="warn" mat-raised-button
            (click)="resetPlayers()"> <i class="fa fa-refresh" aria-hidden="true"></i> Players
        </button>
    </div>

    <button class="menu-mat-icon-button" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    <mat-menu #menu="matMenu">
        <div class="menu-item">
            <section>
                <label>Score Rank Type: </label>
                <mat-radio-group [(ngModel)]="scoreRankType" (change)="onScoreRankTypeChange()">
                    <mat-radio-button value="low">Low</mat-radio-button>
                    <mat-radio-button value="high">High</mat-radio-button>
                </mat-radio-group>
            </section>
        </div>
    </mat-menu>
</div>