@import 'src/app/shared/shared.scss';

:host {
    font-size: 14px;

    button {
        font-size: 14px;
    }

    .add-button {
        height: 38px;
        border-radius: 0 4px 4px 0;
    }

    button.menu-mat-icon-button {
        padding: 14px 0;
        bottom: 17px;
        font-size: 24px;
        z-index: 99;
    }

    table {
        margin: 10px 0 80px 0;
        width: 100%;
        border: 1px solid #ECEFF1;

        td, th {
            padding: 10px;
        }

        thead {
            background: #ECEFF1;
            color: $black;
        }

        .rankOnePlayer {
            background: #00897B;
            color: $white;
        }

        .lostPlayer {
            background: $dark-red;
            color: $white;
            text-decoration: line-through;
        }

        .lastPlayer {
            background: #ef6c00;
            color: $white; 
        }

        .player-score-input input {
            min-width: 58px;
        }

        .player-score {
            button {
                padding: 0 10px;
            }
        }

        .fa-minus-circle {
            font-size: 18px;
        }
    }

    .reset-score-btn {
        float: left;
        background: $dark-red;
    }

    .player-name button {
        text-transform: capitalize;
    }
    
    .footer {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        background: #ECEFF1;
        bottom: 0;

        .action-buttons {
            flex: 1;
            display: flex;
            justify-content: center;

            button {
                height: 40px;
                top: 10px;
            }

            .add-score-btn {
                margin: 0 10px;
            }
        }
    }
}

::ng-deep {
    .cdk-overlay-container {
        .mat-menu-panel {
            margin-top: 20px;
            margin-right: 5px;
            padding: 15px;
            max-width: 100%;
        }
    }

    .mat-menu-content {
        .menu-item {
            margin-bottom: 10px;
        }

        section {
            label {
                margin-bottom: 3px;
                padding-right: 5px;
            }

            .menu-ok-btn {
                float: right;
            }

            .mat-slide-toggle {
                height: 35px;
            }
        }
    }

    .mat-radio-button ~ .mat-radio-button {
        margin-left: 5px;
    }
}