<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-user fas-tag"></i>
            </div>
            <div class="col-sm-11">
                <h5 class=" card-title">About</h5>
                <div class="innerCard">
                    <div class="marginBottom about-container">
                        <div class="row">
                            <div class="col-sm-3 imageColumn">
                                <img class="myImage" src="assets/images/aboutImg.png">
                            </div>
                            <div class="col-sm-9">
                                <div class="about-me">
                                    <span class="tagLine">Hey! I'm Srinivas.</span>
                                    <br>
                                    <span>
                                        I'm a Full Stack Software Engineer born and raised in India, currently living in
                                        the United States. I'm specialized in both Frontend and Backend Development with
                                        the great experience in <span class="highlightText">JavaScript, TypeScript,
                                            Angular and Java Spring Boot Frameworks</span>. With a passion for
                                        innovation and a commitment to delivering high-quality
                                        software, I am constantly seeking new challenges to expand my expertise and
                                        contribute effectively to impactful projects.
                                        <br>
                                        <br>
                                        I have worked in IT industry as a Software Engineer for several years from
                                        start up company to major clients such as <span class="highlightText">Insas
                                            Technologies</span> (a start up based company) and with
                                        <span class="highlightText">Egen Solutions</span> for the clients Raymond James
                                        and UnitedHealth Group - Optum. Currently I'm working Full time for <span
                                            class="highlightText">UnitedHealth
                                            Group - Optum</span> as a Software Engineer II.
                                        <br>
                                        <br>
                                        I have a Master's degree from <span class="highlightText">Kent State
                                            University</span> in Digital Sciences with <span class="highlightText">GPA
                                            of 3.7 on 4</span>.
                                    </span>
                                    <br>
                                    <div class="socialIcons">
                                        <p>
                                            <a href="mailto:msrbaipalli@gmail.com" target="_blank"><i
                                                    tooltip="Email Me!" class="fa fa-envelope"></i></a>
                                        </p>
                                        <p><a href="https://www.linkedin.com/in/msrbaipalli/" target="_blank"><i
                                                    tooltip="LinkedIn" class="fab fa-linkedin-in"></i></a></p>
                                        <p><a href="https://github.com/msrbaipalli" target="_blank"><i tooltip="GitHub"
                                                    class="fab fa-github"></i></a>
                                        </p>
                                        <p><a href="https://medium.com/@msrbaipalli" target="_blank"><i tooltip="Medium"
                                                    class="fab fa-medium-m"></i></a></p>
                                        <p><a href="https://twitter.com/msrbaipalli" target="_blank"><i
                                                    tooltip="Twitter" class="fab fa-twitter"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>